.dropdown {
  background-color: $_color-base-white;
  border-radius: 2px;
  border: 1px solid $_color-base-black;
  color: $_color-base-black;
  align-items: center;
  cursor: pointer;
  user-select: none;

  @include rem((
    padding: 4px 10px,
    border-width: 1px
  ));

  i {
    vertical-align: middle;
    transition: transform 180ms ease;
  }

  &--open > i {
    transform: rotate(180deg);
  }

  &--open {
    border-bottom-color: $_color-base-white;

    > span {
      color: palette(blue);
    }
  }
}
