.dropdown {
  background-color: $_color-base-white;
  border-radius: 2px;
  border: 1px solid $_color-base-black;
  color: $_color-base-black;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;

  @include rem((
    padding: 4px 10px,
    border-width: 1px
  ));

  i {
    vertical-align: middle;
    transition: transform 180ms ease;
  }

  &--open > i {
    transform: rotate(180deg);
  }

  &--open {
    border-bottom-color: $_color-base-white;

    > span {
      color: palette(blue);
    }
  }

  &__menu {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    background-color: $_color-base-white;
    border: 1px solid black;
    border-top: 0;
  }

  &__menu > li {
    border-top: 1px solid $_color-base-black;
    background-color: inherit;
    transition: background-color 140ms linear;

    @include rem((
      padding: 4px 10px,
      border-width: 1px
    ));

    &:hover {
      background-color: palette(blue, lighter);
    }
  }
}
