<div class="content__full">
  <div class="dashboard__controls">
    <div class="dropdown" (click)="showFilters()" [ngClass]="{'dropdown--open': filtersOpen}">
      <span>Show Page-View Controls</span>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div class="dashboard__controls_group">
      <span>View as&nbsp;</span>
      <div class="button__group" [ngClass]="{card: view ==='card', list: view === 'list'}">
        <button class="btn btn-icon" [ngClass]="{'btn--active': view === 'card'}" (click)="changeView('card')"><span>Cards&nbsp;&nbsp;</span><i class="material-icons">grid_on</i></button>
        <button class="btn btn-icon" [ngClass]="{'btn--active': view === 'list'}" (click)="changeView('list')"><span>List&nbsp;&nbsp;</span><i class="material-icons">view_list</i></button>
      </div>
    </div>
  </div>
  <div class="dashboard__filters" [@slide] *ngIf="filtersOpen">
    <div class="dashboard__filters_menu">
      <div class="grid">
        <div class="grid__col-xs-auto dashboard__filters_header grid__col--bleed">
          <div class="header_info">
            <h2>Filters</h2>
          </div>
        </div>
        <div class="grid__col-xs-auto dashboard__filters_header grid__col--bleed">
          <div class="header_controls">
            <button (click)="filtersOpen = false;">Close<i class="material-icons">close</i></button>
            <div class="field__group">
              <label for="default">Save as default</label>
              <input type="checkbox" id="default">
            </div>
          </div>
        </div>
      </div>
      <div class="grid dashboard__filters_content">
        <div class="grid__col-sm-auto grid__col--bleed-y">
          <h3>Dealerships</h3>
          <div class="grid__cell">
            <div class="field__group" *ngFor="let dealer of dealers">
              <input type="checkbox" [attr.id]="dealer.value">
              <label [attr.for]="dealer.value">{{dealer.name}}</label>
            </div>
          </div>
        </div>
        <div class="grid__col-sm-auto grid__col--bleed-y">
          <h3>Deal Stage</h3>
          <div class="grid__cell">
            <div class="field__group" *ngFor="let stage of stages">
              <input type="checkbox" [attr.id]="stage.value">
              <label [attr.for]="stage.value">{{stage.name}}</label>
            </div>
          </div>
        </div>
        <div class="grid__col-sm-auto grid__col--bleed-y">
          <h3>Recent Deals</h3>
          <div class="grid__cell">
            <div class="field__group" *ngFor="let recent of recents">
              <input type="checkbox" [attr.id]="recent.value">
              <label [attr.for]="recent.value">{{recent.name}}</label>
            </div>
          </div>
        </div>
        <div class="grid__col-xs-auto grid__col--bleed-y">
          <h3>Group by</h3>
          <div class="grid__cell">
            <div class="btn__group">
              <button>Dealership</button>
              <button>Deal Stage</button>
              <button>Deal Activity</button>
              <button class="btn__group--active">Don't Group</button>
            </div>
          </div>
          <h3>Sort by</h3>
          <div class="grid__cell">
            <div class="btn__group">
              <button>Alphabetical</button>
              <button>Newest</button>
              <button>Deal Amount</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard__controls_list">
    <div class="dashboard__controls_list_header">
      Current Page-View
    </div>
    <ul class="dashboard__controls_list_view">
      <li class="dashboard__controls_list_view_item">
        Parameter 1: <strong>Value</strong>
      </li>
      <li class="dashboard__controls_list_view_item">
        Parameter 2: <strong>Value</strong>, <strong>Value</strong>
      </li>
      <li class="dashboard__controls_list_view_item">
        Parameter 3: <strong>Value</strong>, <strong>Value</strong>
      </li>
    </ul>
  </div>
</div>
