<div class="content__full">
  <div class="dashboard__controls">
    <div class="dropdown">
      Show Page-View Controls
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div class="dashboard__controls_group">
      <span>View as&nbsp;</span>
      <button class="btn btn-icon btn--active"><span>Cards&nbsp;&nbsp;</span><i class="material-icons">grid_on</i></button>
      <button class="btn btn-icon"><span>List&nbsp;&nbsp;</span><i class="material-icons">view_list</i></button>
    </div>
  </div>
  <div class="dashboard__controls_list">
    list
  </div>
</div>
