@import '../../../../style/abstracts/functions';
@import '../../../../style/abstracts/palette';

:host {
  display: block;
  background-color: palette(white, dark);
}

.dashboard__controls {
  display: flex;
  align-items: center;

  @include rem(padding, 20px 10px);
}

.dashboard__controls_group {
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
  position: relative;
  flex-grow: 1;

  @include rem((
    padding-left: 20px,
    margin-left: 20px
  ));

  > span {
    color: $_color-base-black;

    @include rem(margin-right, 7px);
  }

  button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    transition: all 180ms linear;

    @include rem((
      padding: 5px 0,
      margin-right: 10px
    ));

    span,
    i {
      vertical-align: middle;
    }

    &.btn--active {
      color: palette(blue);
      border-bottom-color: palette(blue);
    }

    &:focus {
      outline: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: $_color-base-black;
  }
}

.button__group {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0;
    width: 67px;
    background-color: palette(blue);
    transform: translateX(0);
    transition: all 180ms ease-in-out;
  }

  &.list::before {
    transform: translateX(153%);
    width: 53px;
  }
}

.dashboard__controls_list {
  color: $_color-base-black;

  @include rem(font-size, 10px);
  @include rem(padding, 0 30px 20px 30px);
}

.dashboard__controls_list_header {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.dashboard__controls_list_view {
  display: flex;
}

.dashboard__controls_list_view_item {
  margin-right: 5px;

  @include rem(font-size, 12px);

  &::before {
    content: '/';
    margin-right: 5px;
  }

  &:first-child::before {
    content: '';
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
