@import '../../../../style/abstracts/functions';
@import '../../../../style/abstracts/palette';

:host {
  display: block;
  background-color: palette(white, dark);
}

.dashboard__controls {
  display: flex;
  align-items: center;

  @include rem(padding, 20px 10px);
}

.dashboard__controls_group {
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
  position: relative;
  flex-grow: 1;

  @include rem((
    padding-left: 20px,
    margin-left: 20px
  ));

  > span {
    color: $_color-base-black;

    @include rem(margin-right, 7px);
  }

  button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    transition: all 180ms linear;

    @include rem((
      padding: 5px 0,
      margin-right: 10px
    ));

    span,
    i {
      vertical-align: middle;
    }

    &.btn--active {
      color: palette(blue);
      border-bottom-color: palette(blue);
    }

    &:focus {
      outline: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: $_color-base-black;
  }
}

.button__group {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    background-color: palette(blue);
    transform: translateX(0);
    transition: all 140ms ease-in-out;

    @include rem((
      width: 65px,
      height: 3px
    ));
  }

  &.list::before {
    transform: translateX(138%);

    @include rem(width, 55px);
  }
}

.dashboard__controls_list {
  color: $_color-base-black;

  @include rem(font-size, 10px);
  @include rem(padding, 0 30px 20px 30px);
}

.dashboard__controls_list_header {
  text-transform: uppercase;

  @include rem(margin-bottom, 5px);
}

.dashboard__controls_list_view {
  display: flex;
}

.dashboard__controls_list_view_item {
  @include rem((
    font-size: 12px,
    margin-right: 5px
  ));

  &::before {
    content: '/';

    @include rem(margin-right, 5px);
  }

  &:first-child::before {
    content: '';
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.dashboard__filters {
  @include rem((
    padding: 0 10px 20px 10px,
    height: 348px
  ));

  > .dashboard__filters_menu {
    position: relative;
    background-color: $_color-base-white;
    border: 1px solid black;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      background-color: $_color-base-white;
      border-left: 1px solid black;
      border-right: 1px solid black;

      @include rem((
        left: -1px,
        top: -23px,
        height: 23px,
        border-width: 1px,
        padding: 0 10px,
        width: 216px
      ));
    }
  }
}

.dashboard__filters_menu .header_info {
  display: flex;
  align-items: center;
  flex: 1;

  i {
    @include rem(font-size, 18px);
  }
}

.dashboard__filters_content {
  @include rem(margin, 20px 10px);

  .grid > .grid__col-sm-auto:nth-of-type(3) {
    border-right: 1px solid palette(grey);
  }

  .field__group {
    @include rem(margin-bottom, 8px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .grid__cell {
    overflow: auto;

    @include rem(max-height, 200px);
  }
}

.dashboard__filters_content input[type=checkbox] {
  vertical-align: middle;
  margin: 0;
}

.dashboard__filters_content h3 {
  font-weight: bold;

  &:nth-of-type(2) {
    margin-top: 10px;
  }

  @include rem(margin-bottom, 10px);
}

.dashboard__filters_menu .header_controls {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  flex: 1;

  > button {
    display: flex;
    align-items: center;
  }

  > .field__group {
    @include rem(margin-right, 10px);
  }
}

.dashboard__filters_footer {
  background-color: palette(grey, light);

  > button {
    align-self: flex-end;
    text-transform: uppercase;

    @include rem(padding, 10px 20px);
  }
}

.dropdown {
  display: flex;
  align-items: center;

  @include rem(width, 216px);

  span {
    flex: 1;
  }
}

.header_info,
.header_controls {
  border-bottom: 1px solid palette(grey);

  @include rem(padding, 20px);
}
