@import '../../../../style/abstracts/functions';
@import '../../../../style/abstracts/palette';

:host {
  z-index: 0;
  flex: 0 86px;
  display: flex;
  background: palette(grey, darker);
}

header {
  flex: 1;
}
