<header>
  <div class="content__full">
    <div class="header__content">
      <div class="header__content_nav">
        <button class="header__content_nav_menu">
          <i class="material-icons">menu</i>
        </button>
        <div class="header__content_nav_brand">
          Daimler Truck Financial
        </div>
        <div class="header__content_nav_app">
          F&amp;I Pro 2.0
        </div>
      </div>
      <div class="header__content_control">
        <i class="material-icons">menu</i>
      </div>
    </div>
  </div>
</header>
<cmp-dashboard-view></cmp-dashboard-view>
<cmp-dashboard-controls></cmp-dashboard-controls>
