<h3>Jump To...</h3>
<ul class="side-nav side-nav--primary">
  <li class="side-nav__item"
      *ngFor="let section of sections; let i = index"
      [ngClass]="{'side-nav__item--active': section.active, 'side-nav__item--disabled': !section.enabled}"
      (click)="outputSection(i, section.name)">
    <i class="material-icons">{{section.active ? 'hourglass_empty' : ''}}{{!section.enabled ? 'lock_outline' : ''}}</i>
    {{section.name}}
  </li>
</ul>
<h3>Resources</h3>
<ul class="side-nav side-nav--secondary">
  <li class="side-nav__item">All Documents</li>
</ul>
