@import '../../style/abstracts/functions';
@import '../../style/abstracts/palette';

:host {
  color: $_color-base-black;
}

input {
  background-color: darken($_color-base-white, 1%);
  border: solid darken($_color-base-white, 20%);

  @include rem((
    border-width: 1px,
    padding: 5px
  ));
}

input,
button {
  width: 100%;

  @include rem(min-height, 36px);
}

label {
  text-transform: uppercase;
  display: block;
  font-weight: 700;

  @include rem((
    font-size: 12px,
    margin-bottom: 10px
  ));
}

h2 {
  margin-bottom: 1.25em;
}

button {
  background-color: $_color-base-blue;
  padding: 0 1em;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $_color-base-white;
  font-weight: 700;
  transition: all linear 0.2s;
  border: 0;
  cursor: pointer;

  &:disabled {
    color: darken($_color-base-white, 10%);
    cursor: not-allowed;
    border-color: lighten($_color-base-blue, 10%);
  }
}

.login-wrapper {
  background-color: $_color-base-white;
  border: solid palette(grey, darkest);
  align-self: center;

  @include rem((
    width: 400px,
    padding: 20px,
    border-radius: 2px,
    border-width: 1px
  ));

  .error {
    color: palette(red, err);

    @include rem(margin-bottom, 10px);
  }
}
