<div class="wrapper">
  <div class="row">
    <div class="tp-4 indent-tp-4">
      <div class="login-wrapper">
        <h2>Sign In</h2>
        <form [formGroup]="form" (submit)="onSubmit($event, form.controls['username'].value, form.controls['password'].value)">
          <label for="username">Username</label>
          <input
            formControlName="username"
            type="text"
            id="username"
            [(ngModel)]="username">
          <label for="password">Password</label>
          <input
            formControlName="password"
            type="password"
            id="password">
          <div class="error" [hidden]="!errorMsg">{{errorMsg}}</div>
          <div class="row nested">
            <div class="indent-tp-6 tp-6">
              <button type="submit" [disabled]="!form.controls['username'].valid || !form.controls['password'].valid">
                <i class="icon-spinner2 spin" *ngIf="isLoading"></i>
                <span *ngIf="!isLoading">Login</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
