@import '../../../../style/abstracts/functions';
@import '../../../../style/abstracts/palette';

:host {
  display: block;
}

.tray {
  position: absolute;
  background-color: #fff;
  color: $_color-base-black;
  z-index: 2;
  right: 0;

  @include rem((
    top: 69px,
    height: 340px,
    width: 620px,
    padding: 20px
  ));
}

.overlay {
  position: fixed;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn {
  padding: 0;
}

.btn--close i {
  vertical-align: middle;
}

.tray__header {
  display: flex;
  align-items: center;

  @include rem (margin-bottom, 10px);

  > h3 {
    flex-grow: 1;
    font-weight: bold;

    @include rem(font-size, 18px);
  }
}

.tray__tabs {
  display: flex;

  @include rem(margin-bottom, 20px);

  > li {
    flex: 1;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    @include rem(padding, 10px 0);
    @include rem(margin, 0 5px);

    &.tray__tabs--active {
      font-weight: bold;
      border-bottom-color: palette(blue);
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.tray__content_all_results > li {
  display: flex;
  align-items: center;
}

.tray__content_type {
  border: 1px solid black;
  background-color: palette(grey, light);

  @include rem((
    padding: 3px 5px,
    margin-right: 10px
  ));
}
