@import '../style/abstracts/functions';
@import '../style/abstracts/palette';

:host {
  display: block;

  &.open {
    overflow: hidden;
  }
}

main {
  @include rem(margin-top, 138px);
}

.cont.open {
  overflow: hidden;
}
