<div class="content__full">
  <div class="dashboard__view">
    <span class="dashboard__view_label">Dashboard</span>
    <div class="dashboard__view_nav">
      <ul>
        <li class="dashboard__view_nav_item--active">
          <a href="">Your Deals</a>
        </li>
        <li>
          <a href="">Your Pins</a>
        </li>
        <li>
          <a href="">All Deals</a>
        </li>
      </ul>
    </div>
    <div class="dropdown" (click)="openCreate($event)" [ngClass]="{'dropdown--open': createOpen}">
      <span>Create New...</span>
      <i class="material-icons">keyboard_arrow_down</i>
      <ul class="dropdown__menu" [@slide] *ngIf="createOpen">
        <li class="dropdown__menu_item" (click)="openCreditApp()">
          Credit Application
        </li>
      </ul>
    </div>
  </div>
</div>

