<div class="content__full">
  <div class="dashboard__view">
    <h3 class="dashboard__view_label">{{ 'dashboard' | translate }}</h3>
    <div class="dashboard__view_nav">
      <ul>
        <li class="dashboard__view_nav_item--active">
          <a href="">{{ 'your-deals' | translate }}</a>
        </li>
        <li>
          <a href="">{{ 'your-pins' | translate }}</a>
        </li>
        <li>
          <a href="">{{ 'all-deals' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="dropdown" (click)="openCreate($event)" [ngClass]="{'dropdown--open': createOpen}">
      <span>Create New...</span>
      <i class="material-icons">keyboard_arrow_down</i>
      <ul class="dropdown__menu" [@slide] *ngIf="createOpen">
        <li class="dropdown__menu_item" (click)="openCreditApp()">
          Credit Application
        </li>
      </ul>
    </div>
  </div>
</div>

