<div [@fadeInOut] (@fadeInOut.done)="fadeCallback($event)" *ngIf="creditAppOpen" class="application__wrapper">
  <div [@slideUp] (@slideUp.done)="slideCallback($event)" *ngIf="slideUpApp" class="content__grid content__grid--application">
    <div class="application">
      <form [formGroup]="setupForm" novalidate (ngSubmit)="save(setupForm.value, setupForm.valid)">
        <div class="application__header">
          <h1>Credit Application</h1>
        </div>
        <div class="application__group" #tpl>
          <div class="application__frame">
            <div class="application__frame_nav">
              <cmp-side-nav [sections]="sections" (currentSection)="navigateToSection($event)" [count]="counter"></cmp-side-nav>
            </div>
            <div class="application__frame_content">
              <div class="grid">
                <div class="grid__col-12">
                  <div class="application__frame_content_section"
                         *ngFor="let section of sections; let i = index;"
                         [attr.id]="section.name">
                    <div class="accordion">
                      <div class="accordion__header"
                             (click)="openAccordion(i)"
                             [ngClass]="{'accordion__header--active': section.active, 'accordion__header--open': section.open,
                             'accordion__header--disabled': !section.enabled}">
                          <div class="accordion__header_name">
                            <i class="material-icons">{{section.enabled ? 'keyboard_arrow_down' : 'lock_outline'}}</i>
                            {{section.name}}
                          </div>
                          <div class="accordion__header_status" *ngIf="section.active">
                            <i class="material-icons">hourglass_empty</i>In Progress
                          </div>
                        </div>
                      <div class="accordion__content accordion__content--creditapp" [@slide] *ngIf="section.open || section.active">
                        <!-- TODO: Create form templates-->
                        <fieldset *ngIf="section.name === 'Setup'">
                          <div class="field-group" formGroupName="conditional">
                            <label class="required">Is this an application for a business or individual?</label>
                            <div class="field-group__item_radio field-group__item--inset">
                              <input type="radio" name="applicationType" id="typeBusiness" formControlName="applicationType" value="business">
                              <label for="typeBusiness">Business</label>
                            </div>
                            <div class="field-group__item_radio field-group__item--inset">
                              <input type="radio" name="applicationType" id="typeIndividual" formControlName="applicationType" value="individual">
                              <label for="typeIndividual">Individual</label>
                            </div>
                          </div>
                          <div class="field-group">
                            <label class="required" for="saleAmount">What's the Total Estimated Sales Amount of this deal?</label>
                            <div class="field-group__item_currency field-group__item--inset">
                              <input type="text" id="saleAmount" formControlName="saleAmount">
                            </div>
                          </div>
                          <div class="field-group" formGroupName="conditional" *ngIf="setupForm.controls.conditional.controls.fein">
                            <label class="required" for="fein">What's the Federal Employer ID Number (FEIN) of this customer?</label>
                            <div class="field-group__item_text field-group__item--inset">
                              <input type="text" id="fein" formControlName="fein">
                            </div>
                          </div>
                          <div class="field-group" formGroupName="conditional" *ngIf="setupForm.controls.conditional.controls.ssn">
                            <label class="required" for="ssn">What's the Social Security Number (SSN) of this customer?</label>
                            <div class="field-group__item_text field-group__item--inset">
                              <input type="text" id="ssn" formControlName="ssn">
                            </div>
                          </div>
                          <!--TODO: Componentize below-->
                          <div class="field-group" [@slide] *ngIf="businessOpen && (setupForm.controls.conditional.controls.fein.valid && setupForm.controls.saleAmount.valid)">
                            <div class="field-group__item--inset">
                              <div class="grid">
                                <div class="grid__col-md-8 grid__col--bleed">
                                  <div class="multiple-matches">
                                    <h3>Mulitple Matches Found</h3>
                                    <p>More than one record matches the FEIN or SSN provided. You can review the findings and choose which record is most accurate to use for Prefilling the application.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <label class="required">Which information do you want to use for Prefill?</label>
                            <div class="field-group__item_radio field-group__item_radio--combo field-group__item--inset" *ngFor="let match of matches">
                              <div class="field-group__item_radio_content">
                                <input type="radio" name="matches" formControlName="matches" [id]="match.id" [value]="match.id">
                                <label [for]="match.id">{{match.name}}</label>
                              </div>
                              <div class="field-group__item_radio_content field-group__item_radio_content--match">
                                <div class="grid">
                                  <div class="grid__col-md-8 grid__col--bleed">
                                    <div class="grid grid--border">
                                      <div class="grid__col-md-6">
                                        <ul class="list-grid">
                                          <li>
                                            <div class="list-grid__key">DOB</div>
                                            <div class="list-grid__value">{{match.dob}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">FEIN</div>
                                            <div class="list-grid__value">{{match.ssn}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">DL #</div>
                                            <div class="list-grid__value">{{match.DL}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">Phone</div>
                                            <div class="list-grid__value">{{match.phone}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">Email</div>
                                            <div class="list-grid__value">{{match.email}}</div>
                                          </li>
                                        </ul>
                                      </div>
                                      <div class="grid__col-md-6">
                                        <ul class="list-grid">
                                          <li>
                                            <div class="list-grid__key">Physical Address</div>
                                            <div class="list_grid__values">
                                              <div class="list-grid__value">{{match.physicalAddress.address}}</div>
                                              <div class="list-grid__value">{{match.physicalAddress.city}}, {{match.physicalAddress.state}}</div>
                                              <div class="list-grid__value">{{match.physicalAddress.zip}}</div>
                                            </div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">Mailing Address</div>
                                            <div class="list-grid__values">
                                              <div class="list-grid__value">{{match.mailingAddress.address}}</div>
                                              <div class="list-grid__value">{{match.mailingAddress.city}}, {{match.mailingAddress.state}}</div>
                                              <div class="list-grid__value">{{match.mailingAddress.zip}}</div>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="field-group" [@slide] *ngIf="individualOpen && (setupForm.controls.conditional.controls.ssn.valid && setupForm.controls.saleAmount.valid)">
                            <div class="field-group__item--inset">
                              <div class="grid">
                                <div class="grid__col-md-8 grid__col--bleed">
                                  <div class="multiple-matches">
                                    <h3>Mulitple Matches Found</h3>
                                    <p>More than one record matches the FEIN or SSN provided. You can review the findings and choose which record is most accurate to use for Prefilling the application.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <label class="required">Which information do you want to use for Prefill?</label>
                            <div class="field-group__item_radio field-group__item_radio--combo field-group__item--inset" *ngFor="let match of matches">
                              <div class="field-group__item_radio_content">
                                <input type="radio" name="matches" formControlName="matches" [id]="match.id" [value]="match.id">
                                <label [for]="match.id">{{match.name}}</label>
                              </div>
                              <div class="field-group__item_radio_content field-group__item_radio_content--match">
                                <div class="grid">
                                  <div class="grid__col-md-8 grid__col--bleed">
                                    <div class="grid grid--border">
                                      <div class="grid__col-md-6">
                                        <ul class="list-grid">
                                          <li>
                                            <div class="list-grid__key">DOB</div>
                                            <div class="list-grid__value">{{match.dob}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">SSN</div>
                                            <div class="list-grid__value">{{match.ssn}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">DL #</div>
                                            <div class="list-grid__value">{{match.DL}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">Phone</div>
                                            <div class="list-grid__value">{{match.phone}}</div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">Email</div>
                                            <div class="list-grid__value">{{match.email}}</div>
                                          </li>
                                        </ul>
                                      </div>
                                      <div class="grid__col-md-6">
                                        <ul class="list-grid">
                                          <li>
                                            <div class="list-grid__key">Physical Address</div>
                                            <div class="list_grid__values">
                                              <div class="list-grid__value">{{match.physicalAddress.address}}</div>
                                              <div class="list-grid__value">{{match.physicalAddress.city}}, {{match.physicalAddress.state}}</div>
                                              <div class="list-grid__value">{{match.physicalAddress.zip}}</div>
                                            </div>
                                          </li>
                                          <li>
                                            <div class="list-grid__key">Mailing Address</div>
                                            <div class="list-grid__values">
                                              <div class="list-grid__value">{{match.mailingAddress.address}}</div>
                                              <div class="list-grid__value">{{match.mailingAddress.city}}, {{match.mailingAddress.state}}</div>
                                              <div class="list-grid__value">{{match.mailingAddress.zip}}</div>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="application__footer">
          <div class="grid">
            <div class="grid__col-auto">
              <div class="application__footer_errors" [ngClass]="{'valid': setupForm.valid}">
                The form is {{setupForm.valid ? 'valid' : 'invalid'}}
              </div>
            </div>
            <div class="grid__col-auto grid--align-end">
              <div class="grid__cell">
                <button class="btn" (click)="closeCreditApp()">Cancel</button>
                <button class="btn">Save &amp; Close</button>
                <button class="btn" type="submit">Submit Application</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
