<cmp-dashboard-controls [view]="view" (viewUpdated)="handleViewChange($event)"></cmp-dashboard-controls>
<div class="content__grid">
  <div class="grid">
    <ng-container *ngFor="let card of data; let i = index; let l = last">
      <div [ngClass]="{'grid__col-xs-4': view === 'card', 'grid__col-sm-12' : view === 'list'}">
        <div class="card" [ngClass]="{'card--list': view === 'list'}" (click)="getSummary(i)">
          <div class="card__header" [ngClass]="{'grid__col-sm-auto': view === 'list'}">
            <div class="header__group">
              <div class="header__customer" [ngClass]="{'grid__col-sm-6 grid__col--bleed': view === 'list'}">{{card.customerName}}</div>
              <div class="header__deal" [ngClass]="{'grid__col-sm-6 grid__col--bleed': view === 'list'}">{{card.dealId}}</div>
            </div>
            <button *ngIf="view ==='card'" class="btn btn--pin" [ngClass]="{pinned: card.pinned}" (click)="togglePin(card, $event)"><i class="material-icons">{{(card.pinned ? 'bookmark' : 'bookmark_border')}}</i></button>
          </div>
          <div class="card__content" [ngClass]="{'grid__col-sm-auto': view === 'list'}">
            <div class="content__group">
              <div class="content__app" [ngClass]="{'grid__col-sm-6 grid__col--bleed': view === 'list'}">{{card.appStatus}}</div>
              <div class="content__card" *ngIf="view === 'card'">
                <div><small>{{card.businessType}}</small></div>
                <div><small><strong>{{card.loanAmount}}</strong></small></div>
              </div>
              <div class="content__pin grid__col-sm-6 grid__col--bleed" *ngIf="view === 'list'">
                <button class="btn btn--pin" [ngClass]="{pinned: card.pinned}" (click)="togglePin(card, $event)"><i class="material-icons">{{(card.pinned ? 'bookmark' : 'bookmark_border')}}</i></button>
              </div>
            </div>
          </div>
          <div class="card__footer" *ngIf="view === 'card'">
            <div class="ellipse" >Date: {{card.date}}</div>
          </div>
        </div>
        <!--TODO: Componentize the summary tray, copy paste between card/list for now -->
        <div [@listSlide] *ngIf="view === 'list' && (summaryActive && i === activeItemIndex)" class="grid__col-sm-12 content--box grid--list">
          <div class="card__summary middle">
            <ul class="summary__timeline">
              <li class="summary__timeline_item" *ngFor="let step of steps">
                <div class="node">
                  <div class="node__percent" [ngStyle]="{width: step.percent + '%'}"></div>
                </div>
                <div class="node__desc ellipse">
                  <span>{{step.name}}</span>
                </div>
              </li>
            </ul>
            <div class="card__summary_header">
              <div class="header__customer">
                {{summaryData.customerName}}
              </div>
              <div class="header__group">
                <a href=""><i class="material-icons">phone</i>&nbsp;(555) 555-5555</a>
                <a href=""><i class="material-icons">mail</i>&nbsp;gohuskers_ne@gmail.com</a>
              </div>
            </div>
            <div class="card__summary_content">
              <div class="grid">
                <div class="grid__col-sm-8">
                  <table>
                    <thead>
                    <tr>
                      <th>Qty</th>
                      <th>Type</th>
                      <th>Product</th>
                      <th>SKU / VIN</th>
                      <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="grid__col-md-4">
                  <h3 class="card__summary_content_header">Finance Structure (Desired)</h3>
                  <div class="grid border-box">
                    <div class="grid__col-sm-6">
                      <div class="grid__cell">
                        <label>Down Payment</label>
                        <div>$0</div>
                      </div>
                    </div>
                    <div class="grid__col-sm-6">
                      <div class="grid__cell">
                        <label>Down Payment</label>
                        <div>$0</div>
                      </div>
                    </div>
                    <div class="grid__col-sm-6">
                      <div class="grid__cell">
                        <label>Down Payment</label>
                        <div>$0</div>
                      </div>
                    </div>
                    <div class="grid__col-sm-6">
                      <div class="grid__cell">
                        <label>Down Payment</label>
                        <div>$0</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card__summary_footer">
              <button>View Customer Record</button>
              <button>View Full Deal Details</button>
              <button (click)="summaryActive = false" class="btn--focus">Recommended Action</button>
            </div>
          </div>
        </div>
      </div>
      <div [@slide] *ngIf="(i % 3 === 2 || i % 3 !== 2 && l || i === l - 1 || (i !== l && i === data.length - 2)) && (activeSummaryIndex === i && summaryActive) && view === 'card'" class="grid__col-md-12 content--box">
        <div class="card__summary" [ngClass]="{left: leftArrow, middle: midArrow, right: rightArrow}">
          <ul class="summary__timeline">
            <li class="summary__timeline_item" *ngFor="let step of steps">
              <div class="node">
                <div class="node__percent" [ngStyle]="{width: step.percent + '%'}"></div>
              </div>
              <div class="node__desc ellipse">
                <span>{{step.name}}</span>
              </div>
            </li>
          </ul>
          <div class="card__summary_header">
            <div class="header__customer">
              {{summaryData.customerName}}
            </div>
            <div class="header__group">
              <a href=""><i class="material-icons">phone</i>&nbsp;(555) 555-5555</a>
              <a href=""><i class="material-icons">mail</i>&nbsp;gohuskers_ne@gmail.com</a>
            </div>
          </div>
          <div class="card__summary_content">
            <div class="grid">
              <div class="grid__col-md-8">
                <table>
                  <thead>
                    <tr>
                      <th>Qty</th>
                      <th>Type</th>
                      <th>Product</th>
                      <th>SKU / VIN</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="grid__col-md-4">
                <h3 class="card__summary_content_header">Finance Structure (Desired)</h3>
                <div class="grid border-box">
                  <div class="grid__col-sm-6">
                    <div class="grid__cell">
                      <label>Down Payment</label>
                      <div>$0</div>
                    </div>
                  </div>
                  <div class="grid__col-sm-6">
                    <div class="grid__cell">
                      <label>Down Payment</label>
                      <div>$0</div>
                    </div>
                  </div>
                  <div class="grid__col-sm-6">
                    <div class="grid__cell">
                      <label>Down Payment</label>
                      <div>$0</div>
                    </div>
                  </div>
                  <div class="grid__col-sm-6">
                    <div class="grid__cell">
                      <label>Down Payment</label>
                      <div>$0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card__summary_footer">
            <button>View Customer Record</button>
            <button>View Full Deal Details</button>
            <button (click)="summaryActive = false" class="btn--focus">Recommended Action</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
