<div class="content__grid content__grid-white">
  <div class="grid grid-vertical-padding">
    <div class="grid__col-sm-8 grid__col-md-4 grid__col-lg-4 grid__col-xlg-4">
      <select>
        <option>One</option>
      </select>
    </div>
    <div class="control__group">
      <button class="btn btn-icon"><i class="material-icons">view_list</i></button>
      <button class="btn btn-icon"><i class="material-icons">grid_on</i></button>
    </div>
  </div>
  <div class="grid">
    <ng-container *ngFor="let card of data; let i = index; let l = last">
      <div class="grid__col-sm-4">
        <div class="card" (click)="getSummary(i)">
          <div class="card__header">
            <div class="header__group">
              <div class="header__customer">{{card.customerName}}</div>
              <div class="header__deal">{{card.dealId}}</div>
            </div>
            <button [ngClass]="{pinned: card.pinned}" (click)="card.pinned = !card.pinned"><i class="material-icons">{{(card.pinned ? 'bookmark' : 'bookmark_border')}}</i></button>
          </div>
          <div class="card__content">
            <div class="content__group">
              <div class="content__app">{{card.appStatus}}</div>
              <div class="content__card">
                <div><small>{{card.businessType}}</small></div>
                <div><small><strong>{{card.loanAmount}}</strong></small></div>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <div class="ellipse">Date: {{card.date}}</div>
          </div>
        </div>
      </div>
      <div [@slide] *ngIf="(i % 3 === 2 || i % 3 !== 2 && l) && (activeSummaryIndex === i && summaryActive)" class="grid__col-md-12">
        <div class="card__summary" [ngClass]="{left: leftArrow, middle: midArrow, right: rightArrow}">
          {{summaryData.customerName}}
          <br />
          Active Summary Index: {{activeSummaryIndex}}
          <br />
          Card Index: {{summaryData.cardIndex}}
          <br />
          <button (click)="summaryActive = false" style="margin-top: 8px;">Close</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
