<cmp-dashboard-controls [view]="view" (viewUpdated)="handleViewChange($event)"></cmp-dashboard-controls>
<div class="content__grid">
  <div class="grid">
    <ng-container *ngFor="let card of data; let i = index; let l = last">
      <div [ngClass]="{'grid__col-sm-4': view === 'card', 'grid__col-sm-12' : view === 'list'}">
        <div class="card" [ngClass]="{'card--list': view === 'list'}" (click)="getSummary(i)">
          <div class="card__header" [ngClass]="{'grid__col-sm-auto': view === 'list'}">
            <div class="header__group">
              <div class="header__customer" [ngClass]="{'grid__col-sm-6 grid__col--bleed': view === 'list'}">{{card.customerName}}</div>
              <div class="header__deal" [ngClass]="{'grid__col-sm-6 grid__col--bleed': view === 'list'}">{{card.dealId}}</div>
            </div>
            <button *ngIf="view ==='card'" class="btn btn--pin" [ngClass]="{pinned: card.pinned}" (click)="togglePin(card, $event)"><i class="material-icons">{{(card.pinned ? 'bookmark' : 'bookmark_border')}}</i></button>
          </div>
          <div class="card__content" [ngClass]="{'grid__col-sm-auto': view === 'list'}">
            <div class="content__group">
              <div class="content__app" [ngClass]="{'grid__col-sm-6 grid__col--bleed': view === 'list'}">{{card.appStatus}}</div>
              <div class="content__card" *ngIf="view === 'card'">
                <div><small>{{card.businessType}}</small></div>
                <div><small><strong>{{card.loanAmount}}</strong></small></div>
              </div>
              <div class="grid__col-sm-6 grid__col--bleed" *ngIf="view === 'list'">
                <button class="btn btn--pin" [ngClass]="{pinned: card.pinned}" (click)="togglePin(card, $event)"><i class="material-icons">{{(card.pinned ? 'bookmark' : 'bookmark_border')}}</i></button>
              </div>
            </div>
          </div>
          <div class="card__footer" *ngIf="view === 'card'">
            <div class="ellipse" >Date: {{card.date}}</div>
          </div>
        </div>
        <div [@slide] class="card__summary middle" *ngIf="view === 'list' && (summaryActive && i === activeItemIndex)">
          {{summaryData.customerName}}
          <br />
          Active Summary Index: {{activeSummaryIndex}}
          <br />
          Card Index: {{summaryData.cardIndex}}
          <br />
          <button (click)="summaryActive = false" style="margin-top: 8px;">Close</button>
        </div>
      </div>
      <div [@slide] *ngIf="(i % 3 === 2 || i % 3 !== 2 && l) && (activeSummaryIndex === i && summaryActive) && view === 'card'" class="grid__col-md-12">
        <div class="card__summary" [ngClass]="{left: leftArrow, middle: midArrow, right: rightArrow}">
          {{summaryData.customerName}}
          <br />
          Active Summary Index: {{activeSummaryIndex}}
          <br />
          Card Index: {{summaryData.cardIndex}}
          <br />
          <button (click)="summaryActive = false" style="margin-top: 8px;">Close</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
