@import '../../style/abstracts/functions';
@import '../../style/abstracts/palette';

:host {
  color: #000;
  display: block;
}

.content-head {
  display: flex;

  h1 {
    flex-grow: 1;
  }

  .button-group {
    align-self: center;
  }

  .button-group > button {
    background-color: #fff;
    border: 1px solid #333;
    float: left;

    @include rem(padding, 4px 8px);

    &:first-child {
      border-right: 0;
    }
  }

  button.active {
    color: blue;
  }
}

.card {
  background-color: #fff;
  border: 1px solid #333;
  cursor: pointer;

  &.card--list {
    display: flex;
  }

  &.card--list + .card__summary {
    @include rem(margin-top, 20px);
  }
}

.card__header {
  display: flex;
  background-color: #aeaeae;
  padding: 8px;

  > .header__group {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
  }

  > .header__group > .header__customer {
    font-weight: bold;

    @include rem(font-size, 18px);
  }

  > .header__group > .header__deal {
    font-size: 80%;

    &::before {
      content: 'Deal ID# ';
    }
  }

  > .header__group > .header__customer,
  .header__group > .header__deal {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > button {
    background-color: #fff;
    border: 1px solid #333;
    padding: 2px;
    border-radius: 2px;

    &.pinned {
      color: palette(blue);
    }
  }

  > button > i {
    vertical-align: middle;
  }
}

.card--list > .card__header {
  background-color: #fff;
}

.card--list > .card__header > .header__group {
  display: flex;
}

.card--list > .card__header > .header__group > .header__customer {
  flex-grow: 1;
  font-weight: normal;

  @include rem(font-size, 14px);

  &::before {
    font-weight: bold;
    content: 'Customer';
    display: block;

    @include rem(margin-bottom, 2px);
  }
}

.card--list > .card__header > .header__group > .header__deal {
  font-size: 1em;
  flex-grow: 1;

  &::before {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
  }
}

.card__content {
  @include rem(padding, 8px);

  > .content__group > .content__app {
    font-weight: bold;

    &::before {
      content: 'Application: ';
      font-weight: normal;
    }
  }

  .btn--pin {
    align-self: flex-end;
    height: 100%;
  }
}

.card--list > .card__content > .content__group > .content__app {
  font-weight: normal;
  flex-grow: 1;

  &::before {
    content: 'Application';
    display: block;
    font-weight: bold;
  }
}

.card--list > .card__content,
.card--list > .card__footer,
.card--list > .card__header {
  display: flex;
}

.card--list > .card__content > .content__group {
  display: flex;
  flex-wrap: wrap;

  button {
    &:focus {
      outline: 0;
    }

    &.pinned {
      color: palette(blue);
    }
  }
}

.content__step {
  font-weight: normal;
  flex-grow: 1;

  &::before {
    content: 'Step';
    display: block;
    font-weight: bold;
  }
}

.card__footer {
  padding: 8px;
  border-top: 1px dashed #333;

  button {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 2px;
    vertical-align: middle;
    align-self: flex-end;
    margin: auto 0;

    > i {
      vertical-align: middle;
    }
  }
}

.card--list > .card__footer {
  border-top: 0;
}

.card__summary {
  background-color: #fff;
  border: 1px solid #333;
  position: relative;
  height: 240px;

  @include rem(padding, 8px);

  &::after,
  &::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transition: left 180ms ease-in-out;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;

    @include rem((
      margin-left: -16px,
      border-width: 16px
    ));
  }

  &::before {
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 17px;
    margin-left: -17px;

    @include rem((
      margin-left: -17px,
      border-width: 17px
    ));
  }

  &.left::after,
  &.left::before {
    left: 15%;
  }

  &.middle::after,
  &.middle::before {
    left: 50%;
  }

  &.right::after,
  &.right::before {
    left: 85%;
  }

  button {
    background-color: #fff;
    border: 1px solid #333;
    text-transform: uppercase;

    @include rem(padding, 8px);
  }
}
